.App {
  text-align: center;
}

.box{
  width: 600px;
  /* border: 1px solid black; */
  padding: 20px;
  background-color:#F8F8F8;
  /* margin: 0 auto; */
}

.container{
  display: flex;
  justify-content: center;
}

.side-menu{
  margin-top: 100px;
  width: 100px;
  /* border: 1px solid black; */
  /* margin: 0 auto; */
}

.inputStyle{
  width: 200px;
  margin: 10px auto;
}


@font-face {
  font-family: 'Montserrat-Regular';
  src: local('Montserrat-Regular'), url(./Montserrat-Regular.ttf);
}

@font-face {
  font-family: 'Montserrat-Light';
  src: local('Montserrat-Light'), url(./Montserrat-Light.ttf);
}

*{
  font-family: 'Montserrat-Light';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #2C2C2C;
}

.title{
  display: flex;
  justify-content: space-between;
  /* border: 1px solid black; */
  padding: 10px;
}

.item{
  border: 1px solid #D3D3D3;
  /* padding: 20px; */
  margin-bottom: 5px;
  padding: 10px;
  transition: all .2s ease-in-out;
  z-index: 5;
}

.item:hover{
  transform: translate(10px);
  /* transform: translate(10px, 10px); */
  /* transform: translateX(10px) */
}


.bullet-warning {
  height: 10px;
  width: 10px;
  background-color: gray;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}


.bullet-danger {
  height: 10px;
  width: 10px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}

 .bullet-primary {
  height: 10px;
  width: 10px;
  background-color: yellow;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}

.bullet-green {
  height: 10px;
  width: 10px;
  background-color:green;
  border-radius: 50%;
  display: inline-block;
  margin-left: 5px;
}

h5{
  font-family: 'Montserrat-Regular';
}



/* .mail-message{
  width: 500px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
} */

.mail-message p{
  width:500px;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}

.user-action{
  display:flex;
  /* align-items:flex-start; */
  align-content: center;
  justify-content: space-between;
  /* border: 1px solid black; */

}

/*  */

.user-details{
  display: flex;
  /* justify-content: space-between; */
  /* border: 1px solid black; */
  justify-content: space-between;
  align-content: center;

}

.checkedItem{
  display: flex;
}
